@import "tailwindcss";
@theme {
  --breakpoint-sm: 36rem;
}

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}

.new {
  animation: updown 2s ease-in-out infinite;
}

@keyframes updown {
  0% {
    transform: translateY(0) scale(0.75);
  }
  50% {
    transform: translateY(-8px) scale(1.25);
  }
  100% {
    transform: translateY(0) scale(0.75);
  }
}